# Pandas

- Dibuat di atas library Numpy
- Melakukan operasi terhadap Series dan DataFrame

In [ ]:
# Series : seperti array 1-d, hanya saja memiliki label

# Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
# List of string
listChar = ['x', 'y', 'z']
print(listChar)

['x', 'y', 'z']

In [3]:
# List of integer
listNum = [10, 20, 30]
print(listNum)

[10, 20, 30]

In [6]:
# Tupple of integer
tupNum = (10, 20, 30)
print(tupNum)

(10, 20, 30)

In [7]:
# Array of Integer
arrNum = np.arange(10,31,10)
print(arrNum)

[10 20 30]

In [8]:
# Dictionary
dcn = {'a' : 10, 'b': 20, 'c': 30}
print(dcn)

{'a': 10, 'b': 20, 'c': 30}

In [11]:
# Series menerima 1 parameter wajib, 1 tidak wajib
serChar = pd.Series(listChar)
print(serChar)
print(serChar[2])

0    x
1    y
2    z
dtype: object
z

In [13]:
serNum = pd.Series(listNum, listChar)
print(serNum)

x    10
y    20
z    30
dtype: int64

In [23]:
serNum = pd.Series(index=listChar, data=listNum)
print(serNum)

x    10
y    20
z    30
dtype: int64

In [18]:
print(serNum[1])
print(serNum['y'])
print(serNum['y'] + serNum['x'])

20
20
30

In [20]:
print(dcn)

{'a': 10, 'b': 20, 'c': 30}

In [36]:
serDcn = pd.Series(dcn)
print(serDcn)

a    10
b    20
c    30
dtype: int64

In [37]:
serNum + serNum

x    20
y    40
z    60
dtype: int64

In [38]:
serHero1 = pd.Series([1,2,3,4] , ['Axe', 'Windranger', 'Techies', 'Brew'])
print(serHero1)

Axe           1
Windranger    2
Techies       3
Brew          4
dtype: int64

In [39]:
serHero2 = pd.Series([1,2,3,4] , ['Axe', 'Windranger', 'Invoker', 'Brew'])
print(serHero2)

Axe           1
Windranger    2
Invoker       3
Brew          4
dtype: int64

In [45]:
resSum =serHero1 + serHero2
print(resSum)
print(np.isnan(resSum['Invoker']))
print(np.isnan(resSum['Axe']))

Axe           2.0
Brew          8.0
Invoker       NaN
Techies       NaN
Windranger    4.0
dtype: float64
True
False

# DataFrame

In [47]:
# DataFrame : seperti array 2-d, memiliki nama column

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn, randint

In [2]:
np.random.seed(101)

In [3]:
# randn(5,4) , random number 2-d, 5 baris - 4 kolom
# DataFrame Parameter : data (2-d), index, column
dfNum = pd.DataFrame(
    randn(5,4),
    ['A','B','C','D','E'],
    ['W','X','Y','Z']
)

dfNum

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [74]:
# Akses satu kolom
dfNum['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [72]:
# Akses lebih dari satu kolom
dfNum[['W', 'X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [76]:
# Buat kolom baru, datanya hasil penjumlahan kolom W dan Y
dfNum['WY'] = dfNum['W'] + dfNum['Y']
dfNum

          W         X         Y         Z        WY
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

> DROP

In [ ]:
# AXIS

# DataFrame memiliki dua axis (default axis = 0)
# axis = 0 menunjuk baris [A B C D E]
# axis = 1 menunjuk kolom [W, X, Y, Z, WY]

In [81]:
# inplace = False, tidak menghapus dataframe asli, melainkan return dataframe baru
dfDropped = dfNum.drop('WY', axis=1)
dfDropped

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [79]:
dfNum

          W         X         Y         Z        WY
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [82]:
# inplace = True, menghapus dataframe aslinya.
dfNum.drop('WY', axis=1, inplace=True)
dfNum

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [83]:
dfNum.drop(['W', 'X'], axis=1)

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057
E  2.605967  0.683509

>**LOC** for **LABEL**

In [85]:
dfNum

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [87]:
dfNum.loc['B']

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

In [88]:
dfNum.loc['B', 'W']

0.6511179479432686

In [90]:
dfNum.loc[['A', 'B']]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [91]:
dfNum.loc[['A', 'B'], ['W', 'X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

>**ILOC** for **INDEX**

In [94]:
dfNum

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [97]:
dfNum.iloc[1:3 , 2:4]

          Y         Z
B -0.848077  0.605965
C  0.528813 -0.589001

In [92]:
dfNum.iloc[1]

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

> Filtering

In [5]:
dfNum

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
dfNum > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [9]:
dfNum[dfNum > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
dfNum

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
# Untuk baris dengan nilai False, akan di hapus
dfNum['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [14]:
dfNum[dfNum['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
# Hanya baris C yang bernilai True, maka hanya baris ini yang akan muncul
dfNum['Z'] < 0

A    False
B    False
C     True
D    False
E    False
Name: Z, dtype: bool

In [17]:
# Tampilkan data dimana untuk kolom Z nilainya  lebih besar dari 0
dfNum[dfNum['Z'] < 0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [18]:
# Tampilkan data dimana untuk kolom W nilainya lebih besar dari 0.2
dfNum[dfNum['W'] > 0.2]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [19]:
dfNum

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
resultDf = dfNum[dfNum['W'] > 0]
resultDf

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [22]:
resultDf['W']

A    2.706850
B    0.651118
D    0.188695
E    0.190794
Name: W, dtype: float64

In [23]:
# Pilih kolom W untuk dataframe hasil filtering
dfNum[dfNum['W'] > 0]['W']

A    2.706850
B    0.651118
D    0.188695
E    0.190794
Name: W, dtype: float64

## default parameter

In [32]:
def manyParams(a=2, b=2, c=2, d=2, e=2, f=2, g=2, h=2, i=2):
    print(f'Isi dari parameter a : {a}')
    print(f'Isi dari parameter e : {e}')
    print(f'Isi dari parameter i : {i}')

In [33]:
manyParams('A', 'x', 'x', 'x', 'E', 'x', 'x', 'x', 'I')

Isi dari parameter a : A
Isi dari parameter e : E
Isi dari parameter i : I

In [34]:
manyParams(a='A', e='E', i='I')

Isi dari parameter a : A
Isi dari parameter e : E
Isi dari parameter i : I