In [1]:
import pandas as pd

In [14]:
dfSal = pd.read_csv('./Salaries.csv')
dfSal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## Fixed CSV

> BasePay

In [19]:
# index : index baris data
# row : beraris
for index, row in dfSal.iterrows():
    if type(row['BasePay']) is str:
        if row['BasePay'] == 'Not Provided':
#             ubah menjadi 0
            dfSal.at[index, 'BasePay'] = 0
        else :
#             ubah tipe data menjadi float
            dfSal.at[index, 'BasePay'] = float(row['BasePay'])

> OvertimePay

In [22]:
# index : index baris data
# row : beraris
for index, row in dfSal.iterrows():
    if type(row['OvertimePay']) is str:
        if row['OvertimePay'] == 'Not Provided':
#             ubah menjadi 0
            dfSal.at[index, 'OvertimePay'] = 0
        else :
#             ubah tipe data menjadi float
            dfSal.at[index, 'OvertimePay'] = float(row['OvertimePay'])

In [20]:
dfSal['BasePay'].mean()

66323.65685410085

In [23]:
dfSal['OvertimePay'].mean()

5065.923568286041

In [ ]:
# Export ke csv baru

In [24]:
dfSal.to_csv('Salaries-fixed-class.csv', index=False)

## Exercise

In [8]:
# Melihat 5 data teratas
dfSal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
# Melihat informasi tentang data frame
dfSal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [5]:
# Munculkan rata - rata dari gaji pokok (BasePay)
dfSal['BasePay'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [16]:
# Berapakah gaji lembur tertinggi (OvertimePay)

245131.88

In [17]:
# Apa job title dari JOSEPH DRISCOLL ?
# Note : Terdapat data yang memiliki nama Joseph Driscoll (huruf kecil)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [18]:
# Berapakah total pendapatan (TotalPayBenefits) dari JOSEPH DRISCOLL ?

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [21]:
# Siapakah yang memiliki total pendapatan tertinggi ?

NATHANIEL FORD dengan pendapatan 567595.43

In [22]:
# Siapakah yang memiliki total pendapatan terendah ?

Joe Lopez dengan pendapatan -618.13

In [23]:
# Berpakah rata - rata gaji pokok dari semua karyawan per-tahun ? (2011 - 2014)

,Id,BasePay,OvertimePay,TotalPay,TotalPayBenefits,Notes,title_len
Year,,,,,,,
2011,18080.0,63595.956517,4531.065429,71744.103871,71744.103871,NaN,20.696231
2012,54542.5,65436.406857,5023.417824,74113.262265,100553.229232,NaN,18.514415
2013,91728.5,69630.030216,5281.641980,77611.443142,101440.519714,NaN,18.665904
2014,129593.0,66557.437750,5401.426941,75463.918140,100250.918884,NaN,18.702752

In [24]:
# Berapa jumlah jenis pekerjaan (Job Title) secara unique ?

2159

In [25]:
# Munculkan 5 jenis pekerjaan yang paling umum (5 jenis pekerjaan dg karyawan terbanyak)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [31]:
# Berapa banyak jenis pekerjaan yang dimiliki oleh hanya satu orang di tahun 2013

Terdapat 202 jenis pekerjaan yang hanya di miliki oleh satu orang

> Clue untuk soal diatas

In [30]:
# Clue : list of boolean dapat dilakukan operasi sum, dimana True akan dinilai 1, dan False 0
clue = [True, True, True, False, True]
totalTrue = sum(clue)
print(f'Jumlah True ada {totalTrue}')

Jumlah True ada 4

In [32]:
# Berapa banyak orang yang memiliki kata 'Chief' dalam jenis pekerjaan mereka ?
# Chief = 423
# CHIEF = 204
# Total = 627

627

> END