In [1]:
import pandas as pd

In [34]:
dfSal = pd.read_csv('./Ecommerce.csv')
dfSal.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [3]:
dfSal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [6]:
# rata - rata dari purchase price
dfSal['Purchase Price'].mean()

50.34730200000025

In [7]:
# harga tertinggi dan harga terendah
mx = dfSal['Purchase Price'].max()
mn = dfSal['Purchase Price'].min()
print(f'Tertinggi : {mx} , Terendah: {mn}')

Tertinggi : 99.99 , Terendah: 0.0

In [9]:
dfSal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [13]:
#  Berapa banyak orang yang menggunakan English 'en'
total = sum(dfSal['Language'] == 'en')
print(f'Terdapat {total} yang menggunakan English')

Terdapat 1098 yang menggunakan English

In [13]:
# Berapa banyak orang yang memiliki title "Lawyer" di pekerjaannya

Terdapat 30 orang yang memiliki kata Lawyer di title pekerjaannya

In [15]:
# Berapa banyak orang yang melakukan pembayaran di AM dan PM
dfSal['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [17]:
# Apa 7 pekerjaan paling umum
dfSal['Job'].value_counts().head(7)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Designer, jewellery                  27
Research officer, political party    27
Designer, fashion/clothing           26
Name: Job, dtype: int64

In [20]:
# Munculkan email yang melakukan pembayaran dimana Lot: "90 WT"
dfSal[dfSal['Lot'] == '90 WT']['Email']

513    jesse00@page.net
Name: Email, dtype: object

In [22]:
# Munculkan email yang memiliki kartu kredit : 4926535242672853
dfSal[dfSal['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [38]:
# Berapa jumlah CC yang expired di tahun 2025
# text : 08/19
# text [3:] : 19
def twentfive(text):
    return text[3:] == '25'

resApp = dfSal['CC Exp Date'].apply(twentfive)
total = sum(resApp)
print(f'Terdapat {total} CC yang Exp di tahun 2025')

Terdapat 1033 CC yang Exp di tahun 2025

In [24]:
#  Berapa banyak orang yang provider cc itu 'American Express'
#  dan melakukan pembayaran diatas $95
total = sum((dfSal['CC Provider'] == 'American Express') & (dfSal['Purchase Price'] > 95))
print(f'Terdapat {total} transaksi')

Terdapat 39 transaksi

In [46]:
# Tampilkan 5 email provider paling umum
serEmail = dfSal['Email'].apply(lambda email : email.split('@')[1])
serEmail.value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [42]:
emil = 'john@example.com'
emil.split('@')[1]

'example.com'

In [27]:
dfSal[dfSal['Language'] == 'en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [26]:
sum(dfSal['Language'] == 'en')

1098

In [33]:
# count :  menghitung banyaknya data per kolom
dfSal = pd.read_csv('Salaries-fixed-class.csv')
dfSal[dfSal['BasePay'] > 150000].count()

Id                  4420
EmployeeName        4420
JobTitle            4420
BasePay             4420
OvertimePay         4420
OtherPay            4420
Benefits            3589
TotalPay            4420
TotalPayBenefits    4420
Year                4420
Notes                  0
Agency              4420
Status              1232
dtype: int64